html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color:#666262;
  text-align: center;
}
h1{
  background-color: #000000;
  color:#fde8c9;
  position:fixed; 
  z-index: 101
}

#local_vid {
  height: 240px;
  width: 150px;
  object-fit: cover;
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
}

.video_grid {
  z-index: 1;
  position: relative;
}
